@charset "utf-8";
body{
    width:99%;
}
iframe{
    margin-left: 450px;
    margin-bottom: 20px;
}
#text{
color:black;
position: absolute;
margin-left: 650px;
text-shadow: 3px 3px gray;
}
table {
    width:101%;
    border: 2px solid black;
    margin-left:-8px;
    border-left: none;
    background-color: none;
    height: 500px;
    border-collapse: collapse;
    border-right: none;
    background-color: pink;
}
#long{
    width: 100px;
    text-align: center;
    border: 2px solid black;
    background-color:#A4A4A4;
}
b{
    font-size: 30px;
    color: seagreen;
}
a{
    color:blue;
    font-size: 20px;
    font-family: Arial;
    text-decoration: none;
}
a:hover{
    color:red;  
} 